.container {
    @include flex(center, center, column, 15px);
    color: white;
    background-image: url(../../Photos/backgorundPhoto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    .header{
        font-size: 50px;
    }
}